/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e9ecef;
}
a {
    cursor: pointer;
    color: #0056b3 !important;
}
.section {
    position: relative;
    margin-left: -50% !important;
    margin-right: -50% !important;
}